html { margin: 0; padding: 0 }
body {
  font-family: 'NanumBarunGothic', sans-serif;
  font-weight: 200;
  color: #454545;
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
}
a { 
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.container {
  display: flex;
  justify-content: center;
}

/* header */
.header {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color:white;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  width: 350px;
  margin-top: 70px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

/* nav profile */
.nav-profile {
  font-size: 12px;
  margin-bottom: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.nav-profile-wrap {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  box-sizing: border-box;
}

.nav-profile-wrap img {
  width: 60px;
  height: 60px;
  background-color: #ee5959;
  border-radius: 50%;
  box-sizing: border-box;
}

.nav-profile-detail {
  width: 200px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -5px;
}

.nav-profile-detail div {
  display: flex;
  justify-content: space-between;
}

.nav-profile-else {
  font-size: 10px;
  color: #dbdbdb;
}

.nav-profile-edit:hover {
  color: #ee5959;
}

.nav-profile-logout:hover {
  color: #ee5959;
}

.nav-profile-user {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

.nav-profile-user span:first-child {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;
}

.nav-profile > ul {
  height: 50px;
  padding: 0 20px 19px 20px;
  margin: -5px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav-profile > ul li span {
  font-weight: 200;
  color: #ee5959;
}

.nav-form {
  width: 100%;
  padding: 0 10px 10px 10px;
  margin-top: -5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-form textarea {
  color: #454545;
  font-size: 12px;
  font-family: 'NanumBarunGothic', sans-serif;
  font-weight: 200;
  width: 100%;
  height: 153px;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.nav-form-upload {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.nav-form-upload i {
  font-size: 15px;
  color: #ee5959;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1px;
  border: 1px solid #ee5959;
  box-sizing: border-box;
}

.nav-form-upload input {
  width: 25px;
  height: 25px;
  opacity: 0;
  position: absolute;
}

.nav-form-upload button {
  width: 50px;
  height: 27px;
  color: white;
  background-color: #ee5959;
  border: none;
}

.nav-form-preview {
  height: 130px;
  border: 0.5px solid #a9a9a9;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 10px;
  display: none;
  justify-content: space-between;
  box-sizing: border-box;
}

.nav-form-preview img {
  width: 110px;
  height: 110px;
  background-color: gray;
}

/* nav login */
.nav-login {
  height: 380px;
  margin-bottom: 10px;
  background-color: white;
}

.nav-login h2 {
  font-size: 18px;
  font-weight: 300;
  color: #454545;
  padding: 20px 30px;
  margin: 0;
  border-bottom: 1px solid #eeeeee;
}

.nav-login-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  margin-top: -40px;
  box-sizing: border-box;
}

.nav-login-form h3 {
  font-size: 13px;
  font-weight: 300;
  color: #ee5959;
}

.nav-login-form form {
  display: flex;
  flex-direction: column;
}

.nav-login-form form input {
  font-size: 12px;
  height: 35px;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.nav-login-form form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.nav-login-form form div button {
  height: 35px;
  font-size: 12px;
  padding: 5px 9px;
  color: white;
  background-color: #ee5959;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}

.nav-login-form form div a:last-child button {
  border: 1px solid #ee5959;
  color: #ee5959;
  background-color: white;
  box-sizing: border-box;
}

/* nav trend */
.nav-trend {
  height: 190px;
  background-color: white;
  padding: 30px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.nav-trend h3 {
  font-size: 13px;
  font-weight: 300;
  color: #454545;
  margin: 0;
}

.nav-trend ul {
  font-size: 12px;
  list-style: none;
  margin: 0;
  padding: 25px 0;
}

.nav-trend ul li {
  color: #ee5959;
  margin: 5px 0;
}