html { margin: 0; padding: 0 }
body {
  font-family: 'NanumBarunGothic', sans-serif;
  font-weight: 200;
  color: #454545;
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
}
a { text-decoration: none }

.container {
  display: flex;
  justify-content: center;
}

/* header */
.header {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color:white;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  width: 350px;
  margin-top: 70px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

/* nav profile */
.nav-profile {
  font-size: 12px;
  height: 380px;
  margin-bottom: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.nav-profile > div {
  height: 120px;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.nav-profile-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #454545;
}

.nav-profile-detail {
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-profile-detail span:first-child {
  font-weight: 600;
}

.nav-profile-edit {
  font-size: 10px;
  color: #dbdbdb;
  width: 60px;
  text-align: right;
}

.nav-profile > ul {
  height: 50px;
  padding: 19px 20px;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.nav-profile ul li {
  list-style: none;
}

.nav-profile form {
  width: 100%;
  height: 210px;
  padding: 10px;
  box-sizing: border-box;
}

.nav-profile form textarea {
  font-size: 12px;
  font-family: 'NanumBarunGothic', sans-serif;
  font-weight: 200;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

/* nav login */
.nav-login {
  height: 380px;
  margin-bottom: 10px;
  background-color: white;
}

.nav-login h2 {
  font-size: 18px;
  font-weight: 300;
  color: #454545;
  padding: 20px 30px;
  margin: 0;
  border-bottom: 1px solid #eeeeee;
}

.nav-login-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  margin-top: -40px;
  box-sizing: border-box;
}

.nav-login-form h3 {
  font-size: 13px;
  font-weight: 300;
  color: #ee5959;
}

.nav-login-form form {
  display: flex;
  flex-direction: column;
}

.nav-login-form form input {
  font-size: 12px;
  height: 35px;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.nav-login-form form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.nav-login-form form div button {
  height: 35px;
  font-size: 12px;
  padding: 5px 9px;
  color: white;
  background-color: #ee5959;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}

.nav-login-form form div a:last-child button {
  border: 1px solid #ee5959;
  color: #ee5959;
  background-color: white;
  box-sizing: border-box;
}

/* nav trend */
.nav-trend {
  height: 190px;
  background-color: white;
  padding: 30px;
  box-sizing: border-box;
}

.nav-trend h3 {
  font-size: 13px;
  font-weight: 300;
  color: #454545;
  margin: 0;
}

.nav-trend ul {
  font-size: 12px;
  list-style: none;
  margin: 0;
  padding: 25px 0;
}

.nav-trend ul li {
  color: #ee5959;
  margin: 5px 0;
}

/* main */
.main {
  width: 600px;
  height: 500px;
  background-color: white;
  margin-top: 70px;
}

/* main header */
.main-header {
  padding: 20px 30px;
  border-bottom: 1px solid #eeeeee;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.main-header h2 {
  font-size: 18px;
  font-weight: 300;
  color: #454545;
  margin: 0;
}

.main-header-form {
  position: relative;
}

.main-header-form span {
  color: rgb(180, 180, 180);
  font-size: 12px;
  position: absolute;
  top: 4px;
  right: 15px;
  z-index: 1;
}

.main-header-form input {
  width: 200px;
  height: 30px;
  font-size: 12px;
  box-sizing: border-box;
  padding-left: 10px;
  position: absolute;
  top: -5px;
  right: 5px;
}

/* main post */
.main-post {
  font-size: 12px;
  height: 120px;
  display: flex;
  padding: 30px;
  border: 1px solid #eeeeee;
}

.main-post-profile {
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-post-profile-image {
  height: 60px;
  background-color: #454545;
  border-radius: 50%;
}

.main-post-profile-name {
  color: #454545;
  font-weight: 600;
  text-align: center;
}

.main-post-wrap {
  width: 450px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-post-detail {
  color: #ee5959;
  display: flex;
  justify-content: space-between;
}

.main-post-detail a {
  color: #ee5959;
  text-decoration: none;
}

/* main join */
.main-join {
  height: 519px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
  position: relative;
}

.main-join img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 1px solid #ee5959;
  margin-top: 8px;
}

.main-join h3 {
  font-size: 10px;
  font-weight: 200;
  color: #dbdbdb;
  margin-top: 30px;
}

.main-join-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.main-join-form #pfImg {
  position: absolute;
  top: 40px;
  left: 245px;
  width: 110px;
  height: 110px;
  opacity: 0;
}

.main-join-form input {
  font-size: 12px;
  width: 290px;
  height: 35px;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.main-join-form button {
  font-size: 12px;
  height: 35px;
  border: 1px solid #ee5959;
  color: #ee5959;
  background-color: white;
  box-sizing: border-box;
}