<form class="memo_frm" action="/memo/create" method="POST">
  <textarea name="memo_input" class="memo_input" style="resize:none"></textarea>
  <input type="hidden" name="memo_id" value=<%= memo_id %> />
  <button type="submit">enter</button>
</form>
