<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/memo.css">
    <title>Memo</title>
</head>
<body>
    <form id="memo_frm" action="/memo/create" method="POST">
        <textarea name="memo_input" id="memo_input" style="resize:none"></textarea>
        <button type="submit">enter</button>
    </form>
    <% for (let i = 0; i < result.length; i++) { %>
        <div class="memo_view">
            <div class="memo_view_wrap">
                <p class="memo_text"><%= result.memo_text %></p>
                <p class="memo_date"><%= result.memo_date %></p>
            </div>
            <div class="memo_btn">
                <button type="button">update</button>
                <button type="button">delete</button>
            </div>
        </div>
    <% } %>
</body>
</html>


