<% for (let i = 0; i < result.length; i++) { %>
<div class="memo_view">
  <div class="memo_view_wrap">
    <p class="memo_text"><%= result[i].memo_text %></p>
    <p class="memo_date"><%= result[i].memo_date %></p>
  </div>
  <div class="memo_btn">
    <a href="/memo/modify/:<%= result[i].memo_id %>"
      ><button type="button">Modify</button></a
    >
    <a href="/memo/delete/:<%= result[i].memo_id %>"
      ><button type="button">Delete</button></a
    >
  </div>
</div>
<% } %>
