<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/memo.css" />
    <title>Memo</title>
  </head>
  <body>
    <% if (modify) { %> <% include ./form_update.ejs %> <% } else { %> <%
    include ./form.ejs %> <% if (result.length !== 0) { %> <% include ./list.ejs
    %> <% } %> <% } %>
  </body>
</html>
