<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/post_form.css">
    <title>Form</title>
</head>
<body>
    <a href="/posts"><header>nBoard</header></a>
    <nav>
        <button onclick="history.back()">Back</button>
        <input type="submit" value="update" form="form">
    </nav>
    <form id="form" action="/posts/update" method="POST">
        <div class="wrap_title">
            <label for="form_title">Title</label>
            <textarea name="form_title" style="resize:none"><%= data.title %></textarea>
        </div>
        <div class="wrap_text">
            <label for="form_text">Content</label>
            <textarea name="form_text" style="resize:none"><%= data.content %></textarea>
        </div>
    </form>
</body>
</html>