<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Form</title>
</head>
<body>
    <button>Back</button>
    <form action="/posts" method="POST">
        <label for="form_title">Title</label>
        <input type="text" name="form_title">
        <label for="form_text">Contents</label>
        <textarea name="form_text" style="resize:none"></textarea>
        <input type="submit" value="submit">
    </form>
</body>
</html>