<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/user_join.css">
    <title>Join</title>
</head>
<body>
    <header>nBoard</header>
    <form action="/posts/">
        <div class="form_username">
            <label for="username">Username</label>
            <input type="text" name="username">
        </div>
        <div class="form_name">
            <label for="name">Name</label>
            <input type="text" name="name">
        </div>
        <div class="form_email">
            <label for="email">Email</label>
            <input type="email" name="email">
        </div>
        <div class="form_pwd">
            <label for="password">Password</label>
            <input type="password" name="password">
        </div>
        <div class="form_pwd_ck">
            <label for="password_ck">Password Check</label>
            <input type="password" name="password_ck">
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>