<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/user_login.css">
    <title>Login</title>
</head>
<body>
    <a href="/posts"><header>nBoard</header></a>
    <form action="/posts">
        <div class="form_id">
            <label for="id">Id</label>
            <input type="text" name="id">
        </div>
        <div class="form_pwd">
            <label for="pwd">Password</label>
            <input type="password" name="pwd">
        </div>
        <button type="submit">Login</button>
    </form>
</body>
</html>