body {
    margin: 0;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
    font-weight: bold;
    font-size: 30px;
    width: 700px;
    margin: 0 auto;
}

nav {
    width: 700px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
}

nav button:nth-child(2) {
    justify-items: flex-end;
}

.detail_wrap {
    width: 700px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.detail_title {
    width: 700px;
    height: 40px;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    border: 1px solid gray;
    box-sizing: border-box;
}

.detail_content {
    width: 700px;
    height: auto;
    padding: 30px;
    margin: 20px 0;
    border: 1px solid gray;
    box-sizing: border-box;
}

.detail_date {
    width: 700px;
    height: 40px;
    padding: 10px 30px;
    text-align: left;
    line-height: 20px;
    border: 1px solid gray;
    box-sizing: border-box;
}