body {
    margin: 0;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
    font-weight: bold;
    font-size: 30px;
    width: 500px;
    margin: 0 auto;
}

form {
    width: 500px;
    margin: 50px auto;
    padding: 50px;
    border: 1px solid gray;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

form div {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

form div input {
    width: 200px;
    height: 25px;
    border-radius: 5px;
    padding: 0 10px;
}

form button {
    height: 25px;
    margin-top: 20px;
}